extends layout

block content
  h1 Cursos de Programación
  .container
      form(method='post' action='/users/form')
          p Curso
          select(name="curso")
              option(value="php") #{value="PHP"}
              option(value="java") #{value="Java"}
              option(value=".net") #{value=".Net"}
          br
          br
          hr
          p Niveles
          input(name="nivel", type='radio',value="básico")
          | Basico
          br
          input(name='nivel', type='radio',value="intermedio")
          | Intermedio
          br
          input(name='nivel', type='radio',value="avanzado")
          | Avanzado
          hr
          br
          p Tipo de pago
          input(name='tipo', type='radio', value="efectivo")
          | Efectivo
          br
          input(name='tipo', type='radio', value="tarjeta")
          | Tarjeta
          br
          br
          input(id='hard',class="btn btn-success", type='submit' value="Siguiente")
